# Docker compose ready example
# rename to .secrets.toml

[bot]
token = "6270771768:AAGAAzr3voG8bnSUGIsngRgIBMgtzDux4IA"

[nats]
address = "nats://nats:4222"

[bot.fsm]
data_bucket = 'fsm_data_aiogram'
states_bucket = 'fsm_states_aiogram'

[db]
db_name = 'bot'
adapter = 'asyncpg'
username = 'username'
password = 'password'
host = 'postgres'
